
<div class="main-preview">

    <div class="row">
        <div class="col-md-7">
            <div class="main-preview background--color">
                <ul class="blog-preview">
                    <li class="blog-preview-li">
                        <a class="blog-preview-link-img" href="#"
                           title="Def Leppard postpo ne Las Vegas residency">
                            <img src="img/stocksnap.io/mini/sound-mini.jpg" alt="Photo Title">
                        </a>
                        <h3 class="blog-preview-title">
                            <a href="#"
                               title="Lorem ipsum dolor sit amet">Lorem ipsum, consectetur adipisicing.
                            </a>
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab asperiores eum eveniet ipsam natus
                            provident quis repellendus, rerum. Adipisci, officiis....
                            <a class="blog-preview-more"
                               href="#">More
                            </a>
                        </p>
                        <div class="meta">
                            <span class="dates"><i class="glyphicon glyphicon-time"></i>May 12, 2045</span>
                            <a class="comments" href="#"><i class="glyphicon glyphicon-comment"></i>0</a>
                            <span>
                            <a class="tags" href="#"><i class="glyphicon glyphicon-tags"></i>Posts</a>
                        </span>
                        </div>
                    </li>
                </ul>
            </div>


            <div class="main-preview background--color">
                <ul class="blog-preview">
                    <li class="blog-preview-li">
                        <a class="blog-preview-link-img" href="#"
                           title="Def Leppard postpo ne Las Vegas residency">
                            <img src="img/stocksnap.io/mini/sound-2-mini.jpg" alt="Photo Title">
                        </a>
                        <h3 class="blog-preview-title">
                            <a href="#"
                               title="Lorem ipsum dolor sit amet">Lorem ipsum dolor sit.
                            </a>
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus atque doloremque ea esse
                            eveniet expedita ipsa optio tempore totam veritatis.
                            <a class="blog-preview-more"
                               href="#">More
                            </a>
                        </p>
                        <div class="meta">
                            <span class="dates"><i class="glyphicon glyphicon-time"></i>May 12, 2045</span>
                            <a class="comments" href="#"><i class="glyphicon glyphicon-comment"></i>0</a>
                            <span>
                            <a class="tags" href="#"><i class="glyphicon glyphicon-tags"></i>Posts</a>
                        </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-5">
            //= sidebar.html
        </div>
    </div>

</div>





