<div class="main-preview clearfix">

    <div class="owl-carousel owl-carousel-1">
        <div class="item">
            <h4 class="title-head-carousel">1</h4>
            <img src="img/stocksnap.io/mini/sound-mini.jpg">
        </div>
        <div class="item">
            <h4 class="title-head-carousel">2</h4>
            <img src="img/stocksnap.io/mini/sound-2-mini.jpg">
        </div>
        <div class="item">
            <h4 class="title-head-carousel">3</h4>
            <img src="img/stocksnap.io/mini/sound-mini.jpg">
        </div>
        <div class="item">
            <h4 class="title-head-carousel">4</h4>
            <img src="img/stocksnap.io/mini/sound-2-mini.jpg">
        </div>
        <div class="item">
            <h4 class="title-head-carousel">5</h4>
            <img src="img/stocksnap.io/mini/sound-mini.jpg">
        </div>
        <div class="item">
            <h4 class="title-head-carousel">6</h4>
            <img src="img/stocksnap.io/mini/sound-2-mini.jpg">
        </div>
    </div>
</div>
