<div class="main-preview">
    <div class="counter-content clearfix">

        <div class="counter-container col-sm-6">

            <div class="col-sm-6">
                <ul class="ul-counter">
                    <li data-stats-days="">
            <span class="left-container-scala">
                <span class="scala"></span>
            </span>
                        <span class="right-container-scala">
                <span class="scala"></span>
            </span>
                        <span class="center">
                <span>00</span><br>
                <i>Days</i>
            </span>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <ul class="ul-counter">
                    <li data-stats-hours="">
            <span class="left-container-scala">
                <span class="scala"></span>
            </span>
                        <span class="right-container-scala">
                <span class="scala"></span>
            </span>
                        <span class="center">
                <span>00</span><br>
                <i>Hours</i>
            </span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="counter-container col-sm-6">
            <div class="col-sm-6">
                <ul class="ul-counter">
                    <li data-stats-minutes="">
            <span class="left-container-scala">
                <span class="scala"></span>
            </span>
                        <span class="right-container-scala">
                <span class="scala"></span>
            </span>
                        <span class="center">
                <span>00</span><br>
                <i>Minutes</i>
            </span>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <ul class="ul-counter">
                    <li data-stats-seconds="">
            <span class="left-container-scala">
                <span class="scala"></span>
            </span>
                        <span class="right-container-scala">
                <span class="scala"></span>
            </span>
                        <span class="center">
                <span>00</span><br>
                <i>Seconds</i>
            </span>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</div>

