<header class="header">
    <!--<div class="header-background"></div>-->
    <div class="header-inner clearfix">
        <div class="header-logo">
            <a class="logo" href="index.html"><span>IA </span>Individual Activity</a>
        </div>
        <nav class="header-nav">
            <ul class="clearfix">
                <li><a href="#home">home</a></li>
                <li><a href="#about">about</a></li>
                <li><a href="#bio">bio</a></li>
                <li><a href="#tour">tour</a></li>
                <li><a href="#album">album</a></li>
                <li><a href="#video">video</a></li>
                <li><a href="#audio">audio</a></li>
                <li><a href="#photo">photo</a></li>
                <li><a href="#blog">blog</a></li>
                <li><a href="#feedback">feedback</a></li>
                <li><a href="#contacts">contacts</a></li>
            </ul>
        </nav>
    </div>
</header>
