
<div class="main-preview">
    <div class="stats-content background--color clearfix">

    <div class="col-xs-12">
        <ul class="ul-stats col-sm-6 col-xs-12">
            <li data-stats-views="">
                <span class="empty"><strong>3624</strong><i>Views</i></span>
                <span class="fully"><strong>3624</strong><i>Views</i></span>
            </li>
        </ul>
        <ul class="ul-stats col-sm-6 col-xs-12">
            <li data-stats-comments="">
                <span class="empty"><strong>2234</strong><i>Comments</i></span>
                <span class="fully"><strong>2234</strong><i>Comments</i></span>
            </li>
        </ul>
    </div>
    <div class="col-xs-12">
        <ul class="ul-stats col-sm-6 col-xs-12">
            <li data-stats-like="">
                <span class="empty"><strong>835</strong><i>Like</i></span>
                <span class="fully"><strong>835</strong><i>Like</i></span>
            </li>
        </ul>
        <ul class="ul-stats col-sm-6 col-xs-12">
            <li data-stats-followers="">
                <span class="empty"><strong>1434</strong><i>Followers</i></span>
                <span class="fully"><strong>1434</strong><i>Followers</i></span>
            </li>
        </ul>
    </div>
    <div class="col-xs-12">
        <ul class="ul-stats col-sm-6 col-xs-12">
            <li data-stats-watch="">
                <span class="empty"><strong>2255</strong><i>Watch</i></span>
                <span class="fully"><strong>2255</strong><i>Watch</i></span>
            </li>
        </ul>
        <ul class="ul-stats col-sm-6 col-xs-12">
            <li data-stats-like="">
                <span class="empty"><strong>454</strong><i>Track</i></span>
                <span class="fully"><strong>454</strong><i>Track</i></span>
            </li>
        </ul>
    </div>
    <div class="col-xs-12">
        <ul class="ul-stats col-sm-6 col-xs-12">
            <li data-stats-followers="">
                <span class="empty"><strong>123</strong><i>Photo</i></span>
                <span class="fully"><strong>123</strong><i>Photo</i></span>
            </li>
        </ul>
        <ul class="ul-stats col-sm-6 col-xs-12">
            <li data-stats-watch="">
                <span class="empty"><strong>343</strong><i>Video</i></span>
                <span class="fully"><strong>343</strong><i>Video</i></span>
            </li>
        </ul>
    </div>

</div>
</div>

